<div ng-controller="PageChangePasswordController as reg" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <form role="form" name="reg.registerForm" novalidate="" ng-submit="reg.register()" class="form-validate mb-lg">
            <div class="form-group has-feedback">
               <label class="text-muted"></label>
               <input type="text" name="account_phone" placeholder="请填写手机号码" ng-pattern="/^[1][0-9]{10}$/" autocomplete="off" ng-model="reg.account.phone" required="" class="form-control" />
               <span style="top:32px;" class="icon-user form-control-feedback text-muted"></span>
               <span ng-show="reg.submit&amp;&amp;reg.registerForm.account_phone.$dirty &amp;&amp; reg.registerForm.account_phone.$error.required" class="text-danger">请填写手机号码</span>
               <span ng-show="reg.submit&amp;&amp;reg.registerForm.account_phone.$dirty &amp;&amp; reg.registerForm.account_phone.$error.pattern" class="text-danger">请输入正确的手机号码</span>
            </div>
            <div class="form-group has-feedback clearfix">
               <input type="text" name="checkcode" ng-model="reg.account.checkCode" ng-pattern="/^[0-9]{6}$/" placeholder="请输入验证码" required="" class="form-control" />
               <span style="top:10px;" class="fa fa-code form-control-feedback text-muted"></span>
               <span ng-show="reg.submit&amp;&amp;reg.registerForm.checkcode.$dirty &amp;&amp; reg.registerForm.checkcode.$error.required" class="text-danger">请输入正确的验证码</span>
               <span ng-show="reg.submit&amp;&amp;reg.registerForm.checkcode.$dirty &amp;&amp; reg.registerForm.checkcode.$error.pattern" class="text-danger">请输入正确的验证码</span>
            </div>
            <div class="form-group has-feedback">
               <input id="id-password" type="password" placeholder="请输入密码" name="account_password" ng-model="reg.account.password" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" required="" class="form-control" />
               <span style="top:10px;" class="icon-lock form-control-feedback text-muted"></span>
               <span ng-show="reg.submit&amp;&amp;reg.registerForm.account_password.$dirty &amp;&amp; reg.registerForm.account_password.$error.required" class="text-danger">请输入密码</span>
               <span ng-show="reg.submit&amp;&amp;reg.registerForm.account_password.$dirty &amp;&amp; reg.registerForm.account_password.$error.pattern" class="text-danger">密码为数字或者英文长度在6-10</span>
            </div>
            <div class="form-group has-feedback">
               <input type="password" placeholder="再输一次密码" name="account_password_confirm" ng-model="reg.account.account_password_confirm" ui-validate="'$value==reg.account.password'" ui-validate-watch="'password'" class="form-control" />
               <span style="top:10px;" class="icon-lock form-control-feedback text-muted"></span>
               <span ng-show="reg.submit&amp;&amp;reg.registerForm.account_password_confirm.$dirty &amp;&amp; reg.registerForm.account_password_confirm.$error.validator" class="text-danger">密码不一致</span>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">修改密码</button>
         </form>
         <div ng-show="reg.authMsg" class="alert alert-danger text-center">{{reg.authMsg}}</div>
         <div ng-show="reg.successMsg" class="alert alert-success text-center">{{reg.successMsg}}</div><a ui-sref="page.recover" class="btn btn-block btn-default">返回上一步?</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>