<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <form role="form" name="recoverForm" novalidate="" class="form-validate">
            <p class="text-center">填写您的手机号码</p>
            <p class="text-center">我们将会通过短信发送验证码</p>
            <div class="form-group has-feedback">
               <label class="text-muted">手机号码</label>
               <input type="text" name="phone" placeholder="请输入手机号码" ng-pattern="/^[1][0-9]{10}$/" autocomplete="off" ng-model="recover.phone" required="" class="form-control" />
               <span class="icon-call-end form-control-feedback text-muted"></span>
               <span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.pattern" class="text-danger">请填写正确的手机号码</span>
               <span ng-show="recoverForm.email.$dirty &amp;&amp; recoverForm.email.$error.email" class="text-danger">请填写手机号码</span>
            </div>
            <button type="submit" class="btn btn-danger btn-block">重置密码</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>