h3 通知管理
  small Edit in Notice
.container-fluid(ng-controller="BaseNoticeController as art")

  .row.content-wrapper(style='border-width:0px;')
      p.lead 历史公告列表
      .panel
        .table-responsive
          table.table.table-hover
            thead
              tr
                th
                  strong 公告 ID
                th
                  strong 时间
                th
                  strong 标题
                th
                  strong 操作
            tbody
              tr(ng-repeat="notice in art.notices")
                td {{notice.notice_id}}
                td {{notice.add_time| NowTime }}
                td {{notice.title | limitTo:15}}
                td {{notice.content | removeTag | limitTo:50 }}
                td
                  button(type="button" ng-click="art.delectNotice($index,notice)").btn.btn-sm.btn-danger
                    em.icon-trash
      p.text-center(ng-show='!art.notices||art.notices.length<1')
            |暂无任何数据
      // Article Content
      .col-lg-1-1
        .panel.panel-default
          .panel-body
            form.form-validate.form-horizontal(name="art.formValidate", ng-submit="art.addNotice(art.notice)", novalidate="")
              input.mb-lg.form-control.input-lg(type="text", name="title",required="" ng-maxlength="20" ng-model='art.notice.title', placeholder="标题")
              span.mb-lg.text-danger(ng-show="art.validateInput('title', 'required')") 请填写内容
              span.text-danger(ng-show="form.validateInput('length', 'maxlength')") 字数不能超过20
              // Wysiswyg editor
              ueditor(config="art.editorConfig" ng-model="art.notice.content" required="")
              br
              .pull-right
                  button.btn.btn-primary.m-r-10.m-t-10(type="submit")
                    em.fa.icon-paper-plane.fa-fw
                    | 发布
      //- template
      script(type="text/ng-template", id="confirm")
        .ngdialog-message.clearfix
          h3.text-center
            | 确定删除该该通知?
          
          button.btn.btn-primary.mr.pull-right(type='button', ng-click='confirm()') 确定
          button.btn.btn-default.pull-left(type='button', ng-click="closeThisDialog()") 取消