h3 操作记录
  small Team Expense Calendar
.table-responsive.b0
  .table
      button.btn.btn-sm.btn-info.btn-default(title="导出" ng-click='IncreaseMoney(team.team_id)') 导出Excel
.table-responsive.b0
  table.table.table-hover(datatable='')
    thead.bg-white
      tr
        th(style='width:80px')
          strong 记录ID
        th
          strong 消费时间
        th
          strong 团队名
        th
          strong 消费类型
        th
          strong 数量
        th
          strong 总支出
    tbody
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      tr
        td 0001
        td 03/11/2015
        td 波纹科技
        td 水电费
        td 1
        td -500元
      