h3 团队补贴
  small Team Expense Calendar
.container-fluid
  form.form-inline(role='form' ng-submit="table.exportExcel()")
        .row.panel-heading.form-horizontal
          .form-group.pull-right.col-sm-2.list-inline.panel-heading
            button.pull-right.btn.btn-info(type='submit') 导出Excel
          .form-group.pull-right.list-inline.panel-heading
            .input-group
              input.form-control(type='text',ng-change='table.checkChange()' datepicker-popup='{{table.format}}', ng-model='table.endtime', is-open='table.endopened', max-date="'2017-06-22'", datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='table.endopen($event)')
                  em.icon-calendar
          .form-group.pull-right.list-inline.panel-heading
             label.col-sm-4.control-label 至
          .form-group.pull-right.list-inline.panel-heading
            .input-group
              input.form-control(type='text',ng-change='table.checkChange()' datepicker-popup='{{table.format}}', ng-model='table.starttime', is-open='table.startopened', max-date="'2017-06-22'", datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='table.startopen($event)')
                  em.icon-calendar.table-responsive.b0
table.table.table-hover(datatable='ng' dt-options="table.dtOptions" dt-column-defs="table.dtColumnDefs")
    thead.bg-white
      tr
        th(style='width:80px')
          strong ID
        th
          strong 时间
        th
          strong 支出类型
        th
          strong 数量
        th
          strong 支出描述
        th
          strong 总支出(元)
    tbody
      tr(ng-repeat='record in table.records')
        td {{::record.payment_id}}
        td {{::record.add_time|NowTime}}
        td {{::record.type | TypeFilter}}
        td {{::record.count}}
        td {{::record.reason}}
        td {{::record.amount| MoneyFilter}}
      