h3 申请审核
  small Check for Team

.container-fluid(ng-controller="CheckApplyThingController as table")
  // Editable row
  h4.page-header 申请列表

  table.table.table-bordered.table-hover.bg-white
    tr(style='font-weight: bold')
      td 团队名
      td 申请人
      td 申请时间
      td 开始时间
      td 停止时间
      td 申请地点     
      td 操作     
    tr(ng-repeat='apply in table.applys')
      td
        span {{ apply.team_name }}
      td
        span {{ apply.name }}
      td
        span {{ apply.add_time | NowTime }}  
      td
        span {{ apply.begin_time | NowTime }}
      td
        span {{ apply.end_time | NowTime }}
      td
        span {{ apply.place_name}}
      td(style='white-space: nowrap')
        // form
        form.form-buttons.form-inline
        .buttons
          button.btn.btn-sm.btn-info(title="同意" ng-click='passApply(apply.room_apply_id)') 同意
          button.btn.btn-sm.btn-danger(title="否决" ng-click='rejectApply(apply.room_apply_id)') 否决
  p.text-center(ng-show='!table.applys||table.applys.length<1')
            |暂无任何数据
  script(type="text/ng-template", id="passconfirm")
    .ngdialog-message.clearfix
      h3.text-center
        | 确定通过该团队的物资申请?
      
      button.btn.btn-primary.mr.pull-right(type='button', ng-click='confirm()') 确定
      button.btn.btn-default.pull-left(type='button', ng-click="closeThisDialog()") 取消
  script(type="text/ng-template", id="rejectconfirm")
    .ngdialog-message.clearfix
      h3.text-center
        | 确定否决该团队的物资申请?
      
      button.btn.btn-primary.mr.pull-right(type='button', ng-click='confirm()') 确定
      button.btn.btn-default.pull-left(type='button', ng-click="closeThisDialog()") 取消

  