h3 记账本
  .col-sm-2.pull-right
    select.form-control(ng-model='todo.selectDate' ng-change='todo.gotoTarget($event,todo.selectDate)')
      option(ng-repeat='item in todo.dateList track by $index' ng-value='item' ) {{item}}
  small Book For Team Record

.table-grid.todo
  .col.col-lg
    .pr-lg

      form(ng-submit='todo.addTodo(todo)').mb-xl
        .form-group
          input.form-control(ng-trim="true",name='amount', type='text', ng-model='todo.todo.amount', placeholder='账单支出', required)
        .form-group.clearfix
          label.col-sm-3.control-label 类型
          .col-sm-9
            label.radio-inline.c-radio
              input#inlineradio1(type='radio' ng-model='todo.todo.type' value='in' ng-click='todo.getTypeList()')
              span.fa.fa-circle
              |  收入
            label.radio-inline.c-radio
              input#inlineradio2(type='radio' ng-model='todo.todo.type' value='out' ng-click='todo.getTypeList()')
              span.fa.fa-circle
              |  支出
        .form-group.clearfix
          .col-md-6(style='padding:0;padding-right:10px;')
            select.form-control(ng-model='todo.firstType' ng-change='todo.getSecondList()')
              option(ng-repeat='item in todo.typeItems' ng-value='item.item') {{item.item}}
          .col-md-6(style='padding:0;padding-right:10px;')
            select.form-control(ng-model='todo.secondType')
              option(ng-repeat='item in todo.secondTypeItems' ng-value='item.item') {{item.item}}
        .form-group
          textarea.form-control(ng-trim="true", ng-model='todo.todo.description', placeholder='账单描述', rows="8")
        
        button.btn.btn-primary.btn-block(type='submit') {{todo.editingTodo ? '编辑' : '添加'}}

  .col.todo-item-list
    div(ng-repeat='(key,value) in todo.items track by $index')
      ul(ng-class="timelineAlt ? 'timeline-alt' : 'timeline'", ng-init="timelineAlt=true")
        li.timeline-separator(data-datetime="{{::key}}" id='{{key}}')
        // START timeline item
        li(ng-repeat='item in value')
          div(ng-class='item.class')
            em.icon-bag
          .timeline-panel
            .popover(ng-class="timelineAlt ? 'right' : 'left'")
                span.md-lg.close(ng-click='todo.removeTodo(item.flow_id)' style='padding-right: 8px;') ×
                h4.popover-title {{::item.amount}}
                .arrow
                .popover-content
                  abbr(title='{{::item.payment_type_name}}') {{::item.payment_type_name}}
                  p(style='padding-top:5px;') {{::item.description}}
        li.timeline-end(ng-if="$last")
          a(ng-click='todo.gotoEdit()').timeline-badge
            em.fa.fa-plus
    .text-center(ng-if="todo.isEmpty(todo.items)")
      p 暂无流水单 
      small.text-muted 请在右侧添加新的流水单
   //- template
  script(type="text/ng-template", id="confirm")
    .ngdialog-message.clearfix
      h3.text-center
        | 确定删除该流水?
      
      button.btn.btn-primary.mr.pull-right(type='button', ng-click='confirm()') 确定
      button.btn.btn-default.pull-left(type='button', ng-click="closeThisDialog()") 取消

    
