h3 成员管理
  small Edit in User

.container-fluid(ng-controller="usermanagementController as table")
  form.form-inline(role='form')
        .row.panel-heading.form-horizontal
          .form-group.pull-right.list-inline.panel-heading
            label.col-sm-4.control-label 团队
            .col-sm-8
              select.form-control(name='account' ng-change='table.loadUserList()' ng-options='team.team_id as team.team_name for team in table.teams' ng-model='selectTeam')
          .form-group.pull-right.list-inline.panel-heading
            label.col-sm-4.control-label 职位
            .col-sm-8
              select.form-control(name='account' ng-change='table.loadUserList()' ng-options='type.id as type.name for type in table.types' ng-model='selectType')
  table.table.table-bordered.table-hover.bg-white
    tr(style='font-weight: bold')
      td(style='width:25%') 姓名
      td(style='width:25%') 类型
      td(style='width:20%') 学院
      td(style='width:20%') 专业
    tr(ng-repeat='user in table.users')
      td
        // editable username (text with validation)
        span(editable-text='user.name', e-name='name', e-form='rowform', onbeforesave='table.checkName($data, user.id)', e-required='') {{ user.name || &apos;empty&apos; }}
      td
        // editable userrole (select-remote)
        span(editable-select='user.type', e-name='school_name',onbeforesave='table.checkID($data)', e-form='rowform', e-ng-options='g.id as g.name for g in table.types') {{ table.showRole(user) }}
      td
        // editable school_name (select-remote)
        span(editable-select='user.school_name', e-name='school_name',onbeforesave='table.checkID($data)', onshow='table.loadColleges()',e-placeholder="请选择", e-form='rowform',e-ng-change='table.loadMajors($data)', e-ng-options='g.school_id as g.school_name for g in table.colleges') {{ table.showColleges(user) }}
      td
        // editable major_name (select-remote)
        span(editable-select='user.major_name', e-name='major_name', e-form='rowform',onbeforesave='table.checkID($data)',e-placeholder="请选择", e-ng-options='g.major_id as g.major_name for g in table.majors') {{ table.showMajors(user) }}
      //- td(style='white-space: nowrap')
      //-   // form
      //-   form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='table.saveUser($data, user.id)', ng-show='rowform.$visible', shown='table.inserted == user')
      //-     button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
      //-     button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
      //-   .buttons(ng-show='!rowform.$visible')
      //-     button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.icon-pencil
      //-     button.btn.btn-sm.btn-danger(ng-click='table.removeUser($index)', title="Delete"): em.icon-trash
  p.text-center(ng-show='!table.users||table.users.length<1')
            |暂无任何数据