<h3>修改密码
   <small>Changepassword</small>
</h3>
<div ng-controller="ChangePasswordController as reg" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-body">
         <form role="form" name="reg.changePasswordForm" novalidate="" ng-submit="reg.changePassword()" class="form-validate mb-lg">
            <div class="form-group has-feedback">
               <label class="text-muted">原密码</label>
               <input type="password" name="old_password" placeholder="请输入原密码" autocomplete="off" ng-model="reg.account.old_password" required="" class="form-control" />
               <span class="icon-lock form-control-feedback text-muted"></span>
               <span ng-show="reg.changePasswordForm.old_password.$dirty &amp;&amp; reg.changePasswordForm.old_password.$error.required" class="text-danger">请输入您的原密码</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">新密码</label>
               <input id="id-password" type="password" name="account_password" placeholder="请输入新密码" ng-model="reg.changePassword.password" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" ui-validate="'$value!=reg.account.old_password'" ui-validate-watch="'old_password'"
               required="" class="form-control" />
               <span class="icon-lock form-control-feedback text-muted"></span>
               <span ng-show="reg.changePasswordForm.account_password.$dirty &amp;&amp; reg.changePasswordForm.account_password.$error.validator" class="text-danger">修改的密码不能与原密码相同</span>
               <span ng-show="reg.changePasswordForm.account_password.$dirty &amp;&amp; reg.changePasswordForm.account_password.$error.required" class="text-danger">请输入您的新密码</span>
               <span ng-show="reg.changePasswordForm.account_password.$dirty &amp;&amp; reg.changePasswordForm.account_password.$error.pattern" class="text-danger">密码由英文或数字组成且长度不小于6</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">再次输入</label>
               <input type="password" name="account_password_confirm" placeholder="再次输入" ng-model="reg.changePassword.account_password_confirm" ui-validate="'$value==reg.changePassword.password'" ui-validate-watch="'password'" class="form-control"
               />
               <span class="icon-lock form-control-feedback text-muted"></span>
               <span ng-show="reg.changePasswordForm.account_password_confirm.$dirty &amp;&amp; reg.changePasswordForm.account_password_confirm.$error.validator" class="text-danger">两次输入密码不一致</span>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">修改密码</button>
         </form>
         <div ng-show="reg.authMsg" class="alert alert-danger text-center">{{reg.authMsg}}</div>
         <div ng-show="reg.successInfo" class="alert alert-success text-center">{{reg.successInfo}}</div>
      </div>
   </div>
</div>