<h3>团队补贴
   <small>Team Subsidies</small>
</h3>
<div ng-controller="TeamAccountController as table" class="container-fluid">
   <div class="table">
      <div class="btn-group">
         <button title="加钱" ng-click="IncreaseAllMoney()" class="btn btn-sm btn-default">批量加钱</button>
         <button title="扣钱" ng-click="DecreaseAllMoney()" class="btn btn-sm btn-default">批量扣钱</button>
      </div>
   </div>
   <table class="table table-bordered table-hover bg-white">
      <tr style="font-weight: bold">
         <td style="width:60%">团队名</td>
         <td style="width:10%">余额</td>
         <td style="width:30%">操作</td>
      </tr>
      <tr ng-repeat="team in table.teams">
         <td>
            <span>{{ team.team_name || &apos;暂无团队名&apos; }}</span>
         </td>
         <td>
            <!-- editable group (select-remote)-->
            <span>{{ team.balance }}</span>
         </td>
         <td style="white-space: nowrap">
            <!-- form-->
            <form editable-form="" name="rowform" onbeforesave="table.saveUser($data, team.id)" ng-show="rowform.$visible" shown="table.inserted == team" class="form-buttons form-inline"></form>
            <div ng-show="!rowform.$visible" class="buttons">
               <div class="btn-group">
                  <button title="加钱" ng-click="IncreaseMoney(team.team_id)" class="btn btn-sm btn-default">加钱</button>
                  <button title="扣钱" ng-click="DecreaseMoney(team.team_id)" class="btn btn-sm btn-default">扣钱</button>
               </div>
               <div class="btn-group"> <a title="消费记录" ui-sref="admin.teamorders({id:{{::team.team_id}}})" class="btn btn-sm btn-info">操作记录</a>
               </div>
            </div>
         </td>
      </tr>
   </table>
   <p ng-show="!table.teams||table.teams.length&lt;1" class="text-center">暂无任何数据</p>
   <script type="text/ng-template" id="Increase">
      <div class="ngdialog-message"><h3 class="mt0 text-center">增加资金</h3><div class="panel-body"><form class="form-horizontal"><div class="form-group"><label class="col-lg-2 control-label">金额</label><div class="col-lg-10"><input type="text" ng-model="Increase.money" placeholder="例:500" class="form-control"/></div></div><div class="form-group"><label class="col-lg-2 control-label">理由</label><div class="col-lg-10"><input type="text" ng-model="Increase.reason" placeholder="例:年终奖" class="form-control"/></div></div></form><button type="button" ng-click="closeThisDialog('Cancel')" class="btn btn-default mr pull-left">取消</button><button type="button" ng-click="confirm(Increase)" class="btn btn-primary pull-right">保存</button></div></div>
   </script>
   <script type="text/ng-template" id="Decrease">
      <div class="ngdialog-message"><h3 class="mt0 text-center">减少资金</h3><div class="panel-body"><form class="form-horizontal"><div class="form-group"><label class="col-lg-2 control-label">金额</label><div class="col-lg-10"><input type="text" ng-model="Decrease.money" placeholder="例:500" require="" class="form-control"/></div></div><div class="form-group"><label class="col-lg-2 control-label">理由</label><div class="col-lg-10"><input type="text" ng-model="Decrease.reason" placeholder="例:拖欠电费" require="" class="form-control"/></div></div></form><button type="button" ng-click="closeThisDialog('Cancel')" class="btn btn-default mr pull-left">取消</button><button type="button" ng-click="confirm(Decrease)" class="btn btn-primary pull-right">保存</button></div></div>
   </script>
   <script type="text/ng-template" id="AllIncrease">
      <div class="ngdialog-message"><h3 class="mt0 text-center">批量增加资金</h3><div class="panel-body"><form class="form-horizontal"><div class="form-group"><label class="col-lg-2 control-label">金额</label><div class="col-lg-10"><input type="text" ng-model="Increase.money" placeholder="例:500" class="form-control"/></div></div><div class="form-group"><label class="col-lg-2 control-label">理由</label><div class="col-lg-10"><input type="text" ng-model="Increase.reason" placeholder="例:年终奖" class="form-control"/></div></div></form><button type="button" ng-click="closeThisDialog('Cancel')" class="btn btn-default mr pull-left">取消</button><button type="button" ng-click="confirm(Increase)" class="btn btn-primary pull-right">保存</button></div></div>
   </script>
   <script type="text/ng-template" id="AllDecrease">
      <div class="ngdialog-message"><h3 class="mt0 text-center">批量减少资金</h3><div class="panel-body"><form class="form-horizontal"><div class="form-group"><label class="col-lg-2 control-label">金额</label><div class="col-lg-10"><input type="text" ng-model="Decrease.money" placeholder="例:500" require="" class="form-control"/></div></div><div class="form-group"><label class="col-lg-2 control-label">理由</label><div class="col-lg-10"><input type="text" ng-model="Decrease.reason" placeholder="例:拖欠电费" require="" class="form-control"/></div></div></form><button type="button" ng-click="closeThisDialog('Cancel')" class="btn btn-default mr pull-left">取消</button><button type="button" ng-click="confirm(Decrease)" class="btn btn-primary pull-right">保存</button></div></div>
   </script>
</div>