<h3>消费记录
   <small>Team Expense Calendar</small>
</h3>
<div class="table-responsive b0">
   <div class="table">
      <button title="导出" ng-click="IncreaseMoney(team.team_id)" class="btn btn-sm btn-info btn-default">导出Excel</button>
   </div>
</div>
<div class="table-responsive b0">
   <table datatable="" class="table table-hover">
      <thead class="bg-white">
         <tr>
            <th style="width:80px">
               <strong>ID</strong>
            </th>
            <th>
               <strong>时间</strong>
            </th>
            <th>
               <strong>团队名</strong>
            </th>
            <th>
               <strong>消费类型</strong>
            </th>
            <th>
               <strong>数量</strong>
            </th>
            <th>
               <strong>总支出</strong>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
         <tr>
            <td>0001</td>
            <td>03/11/2015</td>
            <td>波纹科技</td>
            <td>水电费</td>
            <td>1</td>
            <td>-500元</td>
         </tr>
      </tbody>
   </table>
</div>