<h3>团队审核
   <small>Check for Team</small>
</h3>
<div ng-controller="TeamCheckController as table" class="container-fluid">
   <!-- Editable row-->
   <h4 class="page-header">申请列表</h4>
   <table class="table table-bordered table-hover bg-white">
      <tr style="font-weight: bold">
         <td>团队名</td>
         <td>负责人</td>
         <td>联系方式</td>
         <td>申请材料</td>
         <td>申请时间</td>
         <td>操作</td>
      </tr>
      <tr ng-repeat="team in table.teams">
         <td>
            <span>{{ team.new_team_name || &apos;暂无&apos; }}</span>
         </td>
         <td>
            <span>{{ team.name || &apos;暂无&apos; }}</span>
         </td>
         <td>
            <span>{{ team.phone || &apos;暂无&apos; }}</span>
         </td>
         <td><a href="" ng-dialog-class="ngdialog-theme-default" ng-click="table.showApplyDetail(team.application_id)" ng-dialog-show-close="false">查看详情</a>
         </td>
         <td>
            <span>{{ team.add_time | NowTime }}</span>
         </td>
         <td style="white-space: nowrap">
            <!-- form-->
            <form editable-form="" name="rowform" onbeforesave="table.saveUser($data, team.id)" ng-show="rowform.$visible" shown="table.inserted == team" class="form-buttons form-inline"></form>
            <div ng-show="!rowform.$visible" class="buttons">
               <button ng-click="getExcel(team.application_id)" class="btn btn-sm btn-default">导出EXCEL</button>
               <button title="同意" ng-click="passApply(team.application_id)" class="btn btn-sm btn-info">同意</button>
               <button title="否决" ng-click="rejectApply(team.application_id)" class="btn btn-sm btn-danger">否决</button>
            </div>
         </td>
      </tr>
   </table>
   <p ng-show="!table.teams||table.teams.length&lt;1" class="text-center">暂无任何数据</p>
   <script type="text/ng-template" id="ApplyDetail">
      <div><h3 class="mt0 text-center">申请材料</h3><div ng-show="!!!detail" class="panel-body loader-demo"><div class="sk-spinner sk-spinner-double-bounce"><div class="sk-double-bounce1"></div><div class="sk-double-bounce2"></div></div></div><p ng-show="theme" ng-bind-html="detail"></p></div>
   </script>
   <script type="text/ng-template" id="passconfirm">
      <div class="ngdialog-message clearfix"><h3 class="text-center">确定通过该团队申请?</h3><button type="button" ng-click="confirm()" class="btn btn-primary mr pull-right">确定</button><button type="button" ng-click="closeThisDialog()" class="btn btn-default pull-left">取消</button></div>
   </script>
   <script type="text/ng-template" id="rejectconfirm">
      <div class="ngdialog-message clearfix"><h3 class="text-center">确定否决该团队申请?</h3><button type="button" ng-click="confirm()" class="btn btn-primary mr pull-right">确定</button><button type="button" ng-click="closeThisDialog()" class="btn btn-default pull-left">取消</button></div>
   </script>
</div>