.block-center.mt-xl.wd-xl(ng-controller="PageChangePasswordController as reg")
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      form.form-validate.mb-lg(role='form', name="reg.registerForm", novalidate='', ng-submit="reg.register()")
        .form-group.has-feedback
          label.text-muted 
          input.form-control(type='text', name="account_phone" placeholder='请填写手机号码',ng-pattern="/^[1][0-9]{10}$/", autocomplete="off", ng-model="reg.account.phone", required='')
          span.icon-user.form-control-feedback.text-muted(style="top:32px;")
          span.text-danger(ng-show="reg.submit&&reg.registerForm.account_phone.$dirty && reg.registerForm.account_phone.$error.required") 请填写手机号码
          span.text-danger(ng-show="reg.submit&&reg.registerForm.account_phone.$dirty && reg.registerForm.account_phone.$error.pattern") 请输入正确的手机号码
        .form-group.has-feedback.clearfix
          input.form-control(type="text" name="checkcode" ng-model="reg.account.checkCode" ng-pattern="/^[0-9]{6}$/"  placeholder="请输入验证码" required='')
          span.fa.fa-code.form-control-feedback.text-muted(style="top:10px;")
          span.text-danger(ng-show="reg.submit&&reg.registerForm.checkcode.$dirty && reg.registerForm.checkcode.$error.required") 请输入正确的验证码
          span.text-danger(ng-show="reg.submit&&reg.registerForm.checkcode.$dirty && reg.registerForm.checkcode.$error.pattern") 请输入正确的验证码
        .form-group.has-feedback
          input#id-password.form-control(type='password' placeholder="请输入密码" name="account_password", ng-model="reg.account.password", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
          span.icon-lock.form-control-feedback.text-muted(style="top:10px;")
          span.text-danger(ng-show="reg.submit&&reg.registerForm.account_password.$dirty && reg.registerForm.account_password.$error.required") 请输入密码
          span.text-danger(ng-show="reg.submit&&reg.registerForm.account_password.$dirty && reg.registerForm.account_password.$error.pattern") 密码为数字或者英文长度在6-10
        .form-group.has-feedback 
          input.form-control(type='password' placeholder="再输一次密码" name="account_password_confirm", ng-model="reg.account.account_password_confirm", ui-validate="'$value==reg.account.password'" ui-validate-watch="'password'")
          span.icon-lock.form-control-feedback.text-muted(style="top:10px;")
          span.text-danger(ng-show="reg.submit&&reg.registerForm.account_password_confirm.$dirty && reg.registerForm.account_password_confirm.$error.validator") 密码不一致

        button.btn.btn-block.btn-primary.mt-lg(type='submit') 修改密码

      .alert.alert-danger.text-center(ng-show='reg.authMsg') {{reg.authMsg}}  

      .alert.alert-success.text-center(ng-show='reg.successMsg') {{reg.successMsg}}      
      
      a(ui-sref="page.recover").btn.btn-block.btn-default 返回上一步?

  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
